# Node modules
node_modules/

# Vite build output
/dist

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Editor directories and files
.vscode/
.idea/

# Dependency directories for nested apps
/project/node_modules/
/redux/node_modules/

# Vite cache
/.vite

# Environment files
.env
.env.local
.env.*.local
